<html lang="en">
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-U A-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='../font-awesome/css/fontawesome.css' rel='stylesheet' />
    <link href='../font-awesome/css/all.css' rel='stylesheet' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Rubik:wght@300;400;500;600;700;900&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/auth/style.css' />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script defer type='module' src='/auth/script/appMain.js'></script>
    <title>Maderia</title>
  </head>
  <body>
    <header class='header'>
      <div class='container'>
        <nav class='nav'>
          <a href='index' class='nav__logo'>maderia.com</a>
          <div class='nav-links'>
            {{#if user}}
             <a class='nav-link ' href='/client/myReservationsPage'>
                My Reservation</a>
              <a class='nav-link btn btn-less' href='/client/nearbyHotels'>
                Nearby hotels</a>
            {{else}}
            <a class='nav-link ' href='/client/roomManagement'>
                Room Management</a>
            <a class='nav-link ' href='/client/reservationManagementPage'>
                Reservations</a>

            {{/if}}

            <a
              class='nav-link btn btn-less logout'
              href='/auth/signout'
            >Logout</a>
            <a href='/auth/profile' class='nav-link profile-icon'>
              <img
                class='nav-link-img'
                {{#if user}}
                  src='../img/customer-1.jpg'
                {{else}}
                  src='../img/hotel2.jpg'
                {{/if}}
                alt='user-photo'
              />
              <span class='username'>{{name}}</span>
            </a>
          </div>
        </nav>

        <div class='hero__text'>
          <p class='hero__text-p'>welcome
            <span class='username'>{{name}}</span>
            You are logged in as a
            {{client_type}}</p>
          <h1 class='heading-primary'>Find your next stay</h1>
          <p class='hero__text-p'>
            search low price on hotels, homes and much more...
          </p>
        </div>
      </div>
    </header>
    <main><section class="section-feature">
        <h2 class="heading-secondary" id="feature">Features</h2>
        <div class="cards grid grid-3-col">
          <div class="card card-home">
            <i class="fa-regular fa-hotel"></i>
            <h3>Near by hotels</h3>
            <p>
              we render hotels based on your locations. we aid you by providing
              a map to navigate beetwen hotels.
            </p>
          </div>

          <div class="card card-home">
            <i class="fa-solid fa-bed"></i>
            <h3>Real-time Availability and Pricing</h3>
            <p>
              offers real-time availability and pricing information so that guests can easily check the availability of rooms and prices at any time.
            </p>
          </div>

          <div class="card card-home">
            <i class="fa-regular fa-bed-empty"></i>
            <h3>Reservation Management</h3>
            <p>
             hotels can manage reservations effectively, including modifying, cancelling, and tracking reservations.
            </p>
          </div>

           <div class="card card-home">
            <i class="fa-solid fa-hotel"></i>
            <h3>Customizable Room Types</h3>
            <p>
              A hotel reservation system should offer real-time availability and pricing information so that guests can easily check the availability of rooms and prices at any time.
            </p>
          </div>

          <div class="card card-home">
            <i class="fa-light fa-bed"></i>
            <h3>Reservation Management</h3>
            <p>
              hotels can manage reservations effectively, including modifying, cancelling, and tracking reservations.
            </p>
          </div>

         
          <div class="card card-home">
            <i class="fa-light fa-bed"></i>
            <h3>Near by hotels</h3>
            <p>
              we render hotels based on your locations. we aid you by providing
              a map to navigate beetwen hotels.
            </p>
          </div>
        </div>
      </section>

      <section class="section-hotels" id="hotels">
        <h2 class="heading-secondary">Features</h2>
        <div class="cards grid grid-3-col">
          <div class="card card-home">
            <img
              src="https://thumbs.dreamstime.com/b/chef-hotel-restaurant-kitchen-cooking-hands-prepared-meat-steak-potato-celery-pancakes-working-49745809.jpgs"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Cocoon</h3>
              </div>
              <div class="rating">
                <p>3 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                
                </div>
              </div>
            </div>
          </div>

           <div class="card card-home">
            <img
            src="https://images.unsplash.com/photo-1625244724120-1fd1d34d00f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWxzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>Paradize</h3>
              </div>
              <div class="rating">
                <p>4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>

           <div class="card card-home">
            <img
            src="https://images.unsplash.com/photo-1596386461350-326ccb383e9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhvdGVsc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vvip</p>
                <h3>kuriftu</h3>
              </div>
              <div class="rating">
                <p>5.4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  
                </div>
              </div>
            </div>
          </div>


           <div class="card card-home">
            <img
            src="https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhvdGVsc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>sky hotel</h3>
              </div>
              <div class="rating">
                <p>4 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>

           <div class="card card-home">
            <img
            src="https://images.unsplash.com/photo-1596436889106-be35e843f974?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvdGVsc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>normal</p>
                <h3>clinton</h3>
              </div>
              <div class="rating">
                <p>3 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                   <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>
            </div>
          </div>


           <div class="card card-home">
            <img
            src="https://images.unsplash.com/photo-1566073771259-6a8506099945?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aG90ZWxzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
              srcset=""
            />
            <div class="hotel-detail">
              <div class="hotel-name">
                <p>vip</p>
                <h3>sheraton</h3>
              </div>
              <div class="rating">
                <p>5 rating</p>
                <div class="stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </section></main>
        <footer class="section-footer">
        <div class="footer-col">
          <div class="nav-logo">
            <a href="#" class="nav__logo">maderia.com</a>
          </div>
          <div class="footer-social-media">
            <a href="https://www.facebook.com/natty">
              <i class="fa-brands fa-facebook"></i> <span>facebook</span>
            </a>
            <a href="https://www.facebook.com/messager/natty">
              <i class="fa-brands fa-facebook-messenger"></i
              ><span>messager</span>
            </a>
            <a href="https://www.twitter.com/natty">
              <i class="fa-brands fa-twitter"></i> <span>twitter</span>
            </a>
            <a href="https://www.linkdin.com/natty"
              ><i class="fa-brands fa-linkedin"></i><span>linkdin</span></a
            >
          </div>
          <p class="footer-copyright">
            Copyright &copy; 2022 by , maderia.com Inc. All rightsreserved.
          </p>
        </div>
        <nav class="footer-col">
          <h3 class="footer-heading">contact us</h3>
          <address class="footer-address">
            King George VI Av. /AR_06_1002 Av. , Addis Ababa University ,4 kilo
            campas.
          </address>
          <a href="tel:+251920123302" class="footer-nav-link"
            >+251-920-123-302</a
          >
          <a href="mailto:natnaell70a@gmail.com" class="footer-nav-link">
            maderia70a@gmail.com</a
          >
        </nav>

        <nav class="footer-col">
          <h3 class="footer-heading">Overview</h3>
          <ul class="footer-nav-links">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">Home</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#feature">Features</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#hotels">Hotels</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="/client/nearbyHotels"
                >Nearby Hotel</a
              >
            </li>
          </ul>
        </nav>

        <nav class="footer-col">
          <h3 class="footer-heading" >Account</h3>
          <ul class="footer-nav-links">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="/auth/signup"> Register</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="/auth/signin">Sign in</a>
            </li>
          </ul>
        </nav>

        <nav class="footer-col">
          <h3 class="footer-heading">Support</h3>
          <ul class="footer-nav-links">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#"
                >Contact Us</a
              >
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#">About Us</a>
            </li>
          </ul>
        </nav>
      </footer>
  </body>
</html>